<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Set material colors in Gazebo -->
    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="rear_right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rear_left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <!-- Diff Drive Controller Plugin -->
    <gazebo>
        <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <update_rate>50</update_rate>

            <!-- Define LEFT and RIGHT wheel joints properly -->
            <left_joint>base_front_left_wheel_joint</left_joint>
            <right_joint>base_front_right_wheel_joint</right_joint>


            <!-- Kinematics settings -->
            <wheel_separation>0.45</wheel_separation> <!-- Distance between left and right wheels -->
            <wheel_diameter>0.2</wheel_diameter>       <!-- Diameter of wheels -->

            <!-- Odometry and TF -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
        </plugin>
    </gazebo>

</robot>
